.aboutme {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    flex-direction: column-reverse;

}

.aboutme_avatar {
    margin: 50px 0px
}

.aboutme_info {
    margin: 25px
}

.inner_text {
    font-size: 20px;
    color: #fff
}

.inner_text_h1 {
    font-size: 35px;
    color: #fff
}

.button {
    width: 150px;
    height: 30px;
    border-radius: 18px;
    background: #fff;
    margin: 10px;
    border: none;
    cursor: pointer
}

.next {
    justify-content: center;
    display: flex;
    margin-top: 35px
}
@media only screen and (min-width: 600px) {
    .aboutme{ 
        flex-direction: column;
        flex-flow: nowrap;
    }
}