.skill {
    display: block;
    max-width: 1000px;
    margin: 40px 0px;
    
}

.skill__div {
    width: 100%;
    justify-content: space-between;
    display: block
}

.skill__button {
    background: rgba(275, 275, 275, 0.20);
    padding: 6px;
    border-radius: 15px;
    margin: 6px
}

.skill__information {
    max-width: 500px
}

@media only screen and (min-width: 600px) {
    .skill{ 
        display: flex;
    }
    .skill__div {
        width: 50%;
    }
}